html,
body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 3fr auto;
}
/* -------------------------------------------- */
.app_header {
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  grid-template-rows: 1fr;
  place-items: center;
  background-color: rgba(38,38,38, 1);
}

.menu_icon {
  background-color: rgba(38,38,38,1);
  border: 0;
}

.menu_icon:hover {
  cursor: pointer;
}

.title {
  color: rgba(145,184,221,1);
  text-shadow: 1px 1px 1px rgba(128,128,128,1);
}

/* ------------------------------------------------- */
.app_main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

.nav_menu {
  background-image: url("images/menu.jpg"); /*Image from https://www.pinterest.com/labminh/menu-background/*/
}



.nav_menu ul {
  overflow-y: scroll;
 }

.nav_menu.hidden {
  display: none;
}

.filter_form {
  display: flex;
  flex-direction: row;
}

.filter_form input {
  flex: 1;
  height: 35px;
  font-size: 0.8em;
}

.locations_list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.locations_list li {
  padding: 15px 0;
  border: 0.2px ridge rgba(211,211,211,1);
  font-size: 0.9em;
}

.locations_list li:hover {
  border-style: inset;
  font-weight: bold;
  background-color: rgba(82, 146, 183, 0.65);
  cursor: pointer;
}


.map_container {
  height: 100%;
}

.map_container.extend {
  grid-column: 1 / span 2;
}


/* ---------------- Footer ---------------- */
.app_footer {
  background-color:rgba(38,38,38, 1);
  color: rgba(145,184,221,1);
}

.app_footer a {
 color: rgba(120,200,250,1);
 font-style: italic;
 text-decoration: none;
}

.app_footer a:hover{
  text-decoration: underline;
  color: rgba(255,175,75,1);
}

/* -----------Media Queries for various viewports----------------- */
@media screen and (min-width: 560px) {
  .filter_form input {
    font-size: 0.9em;
  }

  .locations_list li {
    font-size: 1em;
  }
}

@media screen and (min-width: 1000px) {
  .filter_form input {
    font-size: 1.1em;
  }

  .locations_list li {
    padding: 10px 0;
    font-size: 1.3em;
  }

  .app_main {
    grid-template-columns: 1fr 3fr;
  }
}

@media screen and (min-width: 1300px) {
  .app_main {
    grid-template-columns: 1fr 4fr;
  }
}